In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(r'data/medals.csv')
df

,medal_id,sprite_uri,sprite_left,sprite_top,sprite_sheet_width,sprite_sheet_height,sprite_width,sprite_height,classification,description,name,difficulty
0,2315448068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3565441934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4162659350,https://content.halocdn.com/media/Default/game...,750.0,750.0,74.0,74.0,1125.0,899.0,Breakout,Kill the last enemy within the last 10 seconds...,Buzzer Beater,45.0
3,1573153198,https://content.halocdn.com/media/Default/game...,0.0,300.0,74.0,74.0,1125.0,899.0,Breakout,Survive a one-on-one encounter.,Vanquisher,30.0
4,298813630,https://content.halocdn.com/media/Default/game...,0.0,825.0,74.0,74.0,1125.0,899.0,Style,Kill an enemy with Spartan Charge.,Spartan Charge,135.0
...,...,...,...,...,...,...,...,...,...,...,...,...
178,2221955973,https://content.halocdn.com/media/Default/game...,600.0,300.0,74.0,74.0,1350.0,824.0,Ball,Kill the enemy Ball carrier.,Ball Carrier Kill,30.0
179,2683910456,https://content.halocdn.com/media/Default/game...,75.0,450.0,74.0,74.0,1125.0,899.0,Style,Kill an opponent with a headshot from a Battle...,Noob Combo,120.0
180,2093481574,https://content.halocdn.com/media/Default/game...,750.0,0.0,74.0,74.0,1125.0,899.0,WeaponProficiency,Kill two or more enemies by using only one Sni...,Snipeltaneous!,5.0
181,2966496172,https://content.halocdn.com/media/Default/game...,150.0,675.0,74.0,74.0,1125.0,899.0,Style,Kill an opponent by performing an assassination.,Assassination,190.0
182,3653057799,https://content.halocdn.com/media/Default/game...,450.0,750.0,74.0,74.0,1125.0,899.0,WeaponProficiency,Kill a player in five shots with the Magnum wi...,Perfect Kill,40.0

In [8]:
df2 = pd.read_csv(r'data/maps.csv')
df2

,mapid,name,description
0,c93d708f-f206-11e4-a815-24be05e24f7e,Urban,Andesia was the crucible for countless heroes ...
1,cb251c51-f206-11e4-8541-24be05e24f7e,Raid on Apex 7,This unbroken ring is a symbol of the discover...
2,c854e54f-f206-11e4-bddc-24be05e24f7e,March on Stormbreak,NaN
3,c8d69870-f206-11e4-b477-24be05e24f7e,Escape from A.R.C.,Scientists flocked to this Forerunner excavati...
4,73ed1fd0-45e5-4bb9-ab6a-d2852c04ea7d,Osiris,NaN
5,96c3e3dd-7703-4086-9e64-e3a23932bdc4,Blue Team,NaN
6,1c4f8e19-b046-4f78-9e2d-959cba84663d,Glassed,NaN
7,825065cf-df57-42e3-b845-830e7340ea43,Unconfirmed,NaN
8,9a188f67-1664-4d7b-83ca-1d74f714f764,Alliance,NaN
9,2702ea83-2c3e-4fd5-8370-60d9a6e0422f,Before the Storm,NaN
10,82f8471c-a2ef-4089-ac04-7e829fdec912,Genesis,NaN
11,fcd7caa4-37c9-4365-bdda-9041dc6699ed,The Breaking,NaN
12,7dc80b62-dd39-41d5-9b7a-d71fd8832c07,Guardians,NaN
13,db9f76c4-6f9a-4c1a-9b48-7aaf59472ccd,Meridian Station,NaN
14,b486c8f6-0b00-4a46-b91a-0514969d7c94,Evacuation,NaN
15,37c717b8-7ae8-4be4-aaa2-945e083bcf3e,Reunion,NaN
16,72c98d4a-4ee4-40db-baf3-1b1cc3672654,Sword of Sanghelios,NaN
17,f352eafd-d307-4341-a192-16f7f3f5b43c,Enemy Lines,NaN
18,8d72dd82-3afb-409e-bee0-512dc97893d2,Battle of Sunaion,NaN
19,c822b1c0-f206-11e4-9755-24be05e24f7e,Summit,The half-real spaces at the heart of Kamchatka...
20,cae999f0-f206-11e4-9835-24be05e24f7e,Array,Halo erased a hundred billion possibilities to...
21,c89dae21-f206-11e4-a1c2-24be05e24f7e,Dispatch,NaN
22,c74c9d0f-f206-11e4-8330-24be05e24f7e,Alpine,These vistas are Forerunner mementos
23,c7edbf0f-f206-11e4-aa52-24be05e24f7e,Breakout Arena,The broadcast of Breakout matches has proven i...
24,cebd854f-f206-11e4-b46e-24be05e24f7e,Coliseum,Forerunner Warrior-Servants tested themselves ...
25,cd844200-f206-11e4-9393-24be05e24f7e,Eden,Only now - years after the Human-Covenant War ...
26,cdb934b0-f206-11e4-8810-24be05e24f7e,Empire,Military-industrial concerns that power the UN...
27,cc040aa1-f206-11e4-a3e0-24be05e24f7e,Fathom,The UNSC explores Beta Gabriel’s vast oceans i...
28,caacb800-f206-11e4-81ab-24be05e24f7e,Plaza,Promesa’s streets were no stranger to organize...
29,cdee4e70-f206-11e4-87a2-24be05e24f7e,Regret,NaN
30,cb914b9e-f206-11e4-b447-24be05e24f7e,The Rig,Humanity’s ravenous engines of industry requir...
31,ce1dc2de-f206-11e4-a646-24be05e24f7e,Truth,NaN
32,c7805740-f206-11e4-982c-24be05e24f7e,Glacier,Each of Halo's microclimates can be controlled...
33,c7b7baf0-f206-11e4-ae9a-24be05e24f7e,Parallax,The Orion Arm of the galaxy teems with danger ...
34,c96ff240-f206-11e4-b581-24be05e24f7e,Battle of Noctus,The Andesian government vowed to root the Insu...
35,ca737f8f-f206-11e4-a7e2-24be05e24f7e,Overgrowth,Nature has reclaimed this tomb of millions.
36,cbcea2c0-f206-11e4-8c4a-24be05e24f7e,Riptide,The waters of this planet have receded
37,cc74f4e1-f206-11e4-ad66-24be05e24f7e,NaN,NaN
38,ce89a40f-f206-11e4-b83f-24be05e24f7e,NaN,NaN
39,5e130537-2275-40b5-9758-94b1986934ed,NaN,NaN

In [9]:
df3 = pd.read_csv(r'data/match_details.csv')
df3

,match_id,player_gamertag,previous_spartan_rank,spartan_rank,previous_total_xp,total_xp,previous_csr_tier,previous_csr_designation,previous_csr,previous_csr_percent_to_next_tier,...,player_total_ground_pound_kills,player_total_shoulder_bash_kills,player_total_grenade_damage,player_total_power_weapon_damage,player_total_power_weapon_grabs,player_total_deaths,player_total_assists,player_total_grenade_kills,did_win,team_id
0,71d79b23-4143-4359-a62e-489a27597b23,taterbase,5,5,12537,13383,1.0,3.0,0.0,98.0,...,0,0,0.0,0.0,0,13,1,0,1,1.0
1,71d79b23-4143-4359-a62e-489a27597b23,SuPeRSaYaInG0D,18,18,131943,132557,2.0,3.0,0.0,2.0,...,0,0,0.0,0.0,0,18,2,0,0,0.0
2,71d79b23-4143-4359-a62e-489a27597b23,EcZachly,21,21,168811,169762,2.0,5.0,0.0,94.0,...,0,0,0.0,0.0,0,10,4,0,1,1.0
3,71d79b23-4143-4359-a62e-489a27597b23,johnsnake04,14,14,64073,64639,NaN,NaN,NaN,NaN,...,0,0,0.0,0.0,0,9,2,0,0,0.0
4,71d79b23-4143-4359-a62e-489a27597b23,Super Mac Bros,26,26,243425,244430,1.0,5.0,0.0,86.0,...,0,0,0.0,0.0,0,15,2,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151756,ef1afc9b-86da-4192-9fd7-45e3caa457bb,Ash All Mighty,98,98,3106393,3108484,1.0,4.0,0.0,46.0,...,0,1,0.0,0.0,0,17,8,0,0,0.0
151757,ef1afc9b-86da-4192-9fd7-45e3caa457bb,XxJacob96xX,13,13,59124,60865,6.0,4.0,0.0,88.0,...,0,0,0.0,0.0,0,19,14,3,1,1.0
151758,ef1afc9b-86da-4192-9fd7-45e3caa457bb,SRiuK 91,101,101,3304383,3307302,5.0,4.0,0.0,28.0,...,0,0,0.0,0.0,0,15,10,0,1,1.0
151759,ef1afc9b-86da-4192-9fd7-45e3caa457bb,DavidSotelo94,143,143,7030438,7032491,NaN,NaN,NaN,NaN,...,1,1,0.0,0.0,0,18,7,0,0,0.0
151760,ef1afc9b-86da-4192-9fd7-45e3caa457bb,Lawlietelardido,9,9,31647,33379,2.0,4.0,0.0,22.0,...,0,1,0.0,0.0,0,14,13,1,1,1.0

In [10]:
df4 = pd.read_csv(r'data/medals_matches_players.csv')
df4

,match_id,player_gamertag,medal_id,count
0,009fdac5-e15c-47c6-a202-e18ff8800ce7,EcZachly,3261908037,7
1,009fdac5-e15c-47c6-a202-e18ff8800ce7,EcZachly,824733727,2
2,009fdac5-e15c-47c6-a202-e18ff8800ce7,EcZachly,2078758684,2
3,009fdac5-e15c-47c6-a202-e18ff8800ce7,EcZachly,2782465081,2
4,9169d1a3-955c-4ea9-a9a4-6d57da097660,EcZachly,3001183151,1
...,...,...,...,...
755224,ef1afc9b-86da-4192-9fd7-45e3caa457bb,Lawlietelardido,2366628262,1
755225,ef1afc9b-86da-4192-9fd7-45e3caa457bb,Lawlietelardido,3400287617,1
755226,ef1afc9b-86da-4192-9fd7-45e3caa457bb,Lawlietelardido,250435527,1
755227,ef1afc9b-86da-4192-9fd7-45e3caa457bb,Lawlietelardido,2838259753,1
755228,ef1afc9b-86da-4192-9fd7-45e3caa457bb,Lawlietelardido,2287626681,2

In [12]:
df5 = pd.read_csv(r'data/matches.csv')
df5

,match_id,mapid,is_team_game,playlist_id,game_variant_id,is_match_over,completion_date,match_duration,game_mode,map_variant_id
0,11de1a94-8d07-4162-9f5f-d3cc753c811c,c7edbf0f-f206-11e4-aa52-24be05e24f7e,True,f72e0ef0-7c4a-4307-af78-8e38dac3fdba,1e473914-46e4-408d-af26-178fb115de76,True,2016-02-22 00:00:00.000000,NaN,NaN,NaN
1,d3643e71-3e51-43e6-a200-f4a7f306ac12,cb914b9e-f206-11e4-b447-24be05e24f7e,False,d0766624-dbd7-4536-ba39-2d890a6143a9,257a305e-4dd3-41f1-9824-dfe7e8bd59e1,True,2016-02-14 00:00:00.000000,NaN,NaN,NaN
2,d78d2aae-36e4-48ac-a3b5-6d4d90f90ace,c7edbf0f-f206-11e4-aa52-24be05e24f7e,True,f72e0ef0-7c4a-4307-af78-8e38dac3fdba,1e473914-46e4-408d-af26-178fb115de76,True,2016-03-24 00:00:00.000000,NaN,NaN,55e5ee2e-88df-4657-b9ae-b6ec7ca64614
3,b440069e-ec5f-4f51-bdd1-bc0bc7fe1195,c7edbf0f-f206-11e4-aa52-24be05e24f7e,True,f72e0ef0-7c4a-4307-af78-8e38dac3fdba,1e473914-46e4-408d-af26-178fb115de76,True,2015-12-23 00:00:00.000000,NaN,NaN,ec3eef73-13e3-4d4b-a922-cc195109a842
4,1dd475fc-ee6b-4e1d-8140-c44d03812076,c93d708f-f206-11e4-a815-24be05e24f7e,True,0e39ead4-383b-4452-bbd4-babb7becd82e,42f97cca-2cb4-497a-a0fd-ceef1ba46bcc,True,2016-04-07 00:00:00.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
24020,43afc9e1-d0e7-43c1-a944-b82290c3da85,cebd854f-f206-11e4-b46e-24be05e24f7e,True,c98949ae-60a8-43dc-85d7-0feb0b92e719,a2949322-dc84-45ab-8454-cf94fb28c189,True,2016-09-27 00:00:00.000000,NaN,NaN,NaN
24021,c57229cd-2ad5-4b75-9560-3e6a29606343,cc040aa1-f206-11e4-a3e0-24be05e24f7e,True,c98949ae-60a8-43dc-85d7-0feb0b92e719,a2949322-dc84-45ab-8454-cf94fb28c189,True,2016-09-27 00:00:00.000000,NaN,NaN,NaN
24022,d6340c53-e26e-4d87-8bbd-bafa1d129937,caacb800-f206-11e4-81ab-24be05e24f7e,True,c98949ae-60a8-43dc-85d7-0feb0b92e719,1571fdac-e0b4-4ebc-a73a-6e13001b71d3,True,2016-09-27 00:00:00.000000,NaN,NaN,NaN
24023,b7a51683-71b8-4199-9733-80f5048eb143,cebd854f-f206-11e4-b46e-24be05e24f7e,True,c98949ae-60a8-43dc-85d7-0feb0b92e719,257a305e-4dd3-41f1-9824-dfe7e8bd59e1,True,2016-09-27 00:00:00.000000,NaN,NaN,NaN
24024,ef1afc9b-86da-4192-9fd7-45e3caa457bb,caacb800-f206-11e4-81ab-24be05e24f7e,True,c98949ae-60a8-43dc-85d7-0feb0b92e719,1571fdac-e0b4-4ebc-a73a-6e13001b71d3,True,2016-09-27 00:00:00.000000,NaN,NaN,NaN